section:nth-child(1){
    width: 95%;
    margin: 0 auto;
}

section:nth-child(2),
section:nth-child(2){
    width: 90%;
    margin: 0 auto;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-gap: 1em;
    padding-left: 1.5rem;
    align-content: center;
    margin: 1.5rem 2rem 1rem 2rem;
    /*border: 1px solid #86D390;
    border-radius: 0.5em;*/
}
.gallery p,
.gallery h4 {
    color: var(--color-main-text);
}

.gallery h4 {
    width: 100%;
    font-size: 1em;
    overflow: hidden;
    margin: 1.5rem 0;
    text-align: center;
}

.location-image {
    line-height: 1rem;
    overflow: hidden;
    border: 1px solid #86D390;
    border-radius: 0.5em;

}

.location-image img {
    display: block;
    width: 60%;
    max-width: 1000px;
    height: auto;
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    margin: 0 auto;
}

.gallery-new,
.gallery-recommended {
    display: grid;
    grid-template-columns: repeat(4, 22.5%);
    grid-gap: 1.8em;
    padding-left: 1.5rem;
    align-content: center;
    margin: 1.5rem 2rem 1rem 2rem;
    /*border: 1px solid #86D390;
    border-radius: 0.5em;*/
}

.gallery-new p,
.gallery-recommended p {
    color: var(--color-main-text);
    height: 35px;
    float: left;
    white-space: normal;
    text-overflow: unset;
    text-align: center;
    margin: 1em 0 8px 0;
    font-stretch: condensed;
    font-size: 16px;
    width: 100%;
}

.gallery-new.location-image,
.gallery-recommended.location-image {
    line-height: 1rem;
    overflow: hidden;
    border: 1px solid #86D390;
    border-radius: 0.5em;
}

.gallery-recommended img {
    margin-top: 2rem;
}

/*
.gallery-recommended,
.gallery,
.gallery-new {
    !*position: relative;*!
    !*transition-duration: 0.5s;*!
    !*transform: translate(0, -1em);*!
    transition: transform 0.5s;
}

.gallery-recommended:hover,
.gallery:hover,
.gallery-new:hover {
    transform: scale(2);
}*/
