header,
footer {
  display: flex;
  justify-content: space-between;
  color: var(--color-main-text);
  font: inherit; }

a {
  color: var(--color-main-text); }

.header,
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center; }

.header .top-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #86D390; }

.footer .footer-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #86D390; }

.header .top-first img,
.header .main-logo img,
.footer .footer-first img,
.footer .main-logo img {
  width: 15px;
  height: 15px;
  margin-top: 0.4em;
  box-shadow: none; }

.header .main-logo,
.footer .main-logo {
  width: 40%;
  display: block;
  /*margin: 0 auto;*/ }

.header .logo,
.footer .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  justify-content: left;
  align-items: center;
  margin-left: 4em; }

.header .top-first .logo,
.footer .footer-first .logo {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em; }

.header .top-first .top-menu-right,
.footer .footer-first .footer-menu-right {
  width: 30%;
  padding-right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.5em; }

body > header > div > div > ul > li,
body > footer > div > div > ul > li {
  padding-right: 1em; }

.header .top-first .top-menu-left,
.footer .footer-first .footer-menu-left {
  width: 30%;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.5em;
  margin-right: 1%; }

body > header > div > div > ul > li,
body > footer > div > div > ul > li {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em; }

body > header > div > div > ul > li > a,
body > footer > div > div > ul > li > a {
  padding-left: 0.3em; }

header h2 {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  color: var(--color-main-text);
  text-shadow: 1px 1px 1px #86D390;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.top-menu {
  display: flex;
  flex-direction: row;
  background: var(--color-main-bgrd-special);
  color: var(--color-main-bgrd-special); }

.top-menu p {
  margin-left: 0.5em; }

header p img {
  width: 22px;
  height: 22px;
  margin: 0 0.2rem; }

@media screen and (max-width: 800px) {
  .header .top-first .top-menu-right,
  .footer .footer-first .footer-menu-right {
    width: 70%; }
  .header .top-first .top-menu-left,
  .footer .footer-first .footer-menu-left {
    width: 20%;
    margin-left: 0.5rem; } }
