.info, li, .last {
  font-weight: initial;
  margin: 0 0 0.5em 2em;
  line-height: 2em;
  font: 16px/1.5 'PT Sans Narrow', sans-serif; }

.info_upr {
  margin-top: 2em; }

.cel {
  margin: 2em 0; }

.last {
  margin: 0 0 4.5em 2em; }
